*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(../images/pattern.jp);
}
#demo-wrapper
{
    width: 400px;
    margin: 20px auto;
}
#button-less
{

}
#button-less .akordeon-item-head-container
{
    left: 0px !important;
}


