* {box-sizing: border-box;margin: 0;padding: 0;}
html {background-color:#38454A;background-image: url(../images/bg_image.jpg); background-repeat:no-repeat; background-size:cover;font-family: 'Helvetica Neue', Arial, Sans-Serif;}
html .login-wrap {/*transform: perspective( 600px ) rotateX( 45deg );*/height:270px;
    text-align: center;opacity:0.9;position: relative;margin: 15% auto;
    background:#EFEFEF;width: 400px;
    //border-radius: 5px;
    //box-shadow: 5px 5px 40px #333; 
    border:2px outset #1387C4;padding:0px;}
html .login-wrap h2 {text-align: center;font-weight: 200;font-size: 2em;padding-top:15px; color:#fff}
html .login-wrap #version {text-align: center;}
html .login-wrap .form {padding-top: 10px;}
html .login-wrap .form input[type="text"],
html .login-wrap .form input[type="password"],
html .login-wrap .form input[type="submit"]{width: 90%;margin-bottom: 5px;height: 35px;border-radius: 5px;outline: 0;-moz-outline-style: none;}
html .login-wrap .form input[type="text"],
html .login-wrap .form input[type="password"] {border: 1px solid #bbb; padding: 0 0 0 10px; font-size: 14px;}
html .login-wrap .form input[type="text"]:focus,
html .login-wrap .form input[type="password"]:focus { border: 1px solid #3498db;}
html .login-wrap .form a {  text-align: center;  font-size: 10px;  color: #3498db;}
html .login-wrap .form a p { padding-bottom: 10px;}
html .login-wrap .form input[type="submit"] {background:#404040;  border: none;  color: white;  font-size: 18px;  font-weight: 200;  cursor: pointer;  transition: box-shadow .4s ease;}
html .login-wrap .form input[type="submit"]:hover {  box-shadow: 1px 1px 5px #555;}
html .login-wrap .form input[type="submit"]:active {  box-shadow: 1px 1px 7px #222;}
html .login-wrap:after {  content: '';  position: absolute;  top: 0;  left: 0;  right: 0;   height: 5px;  border-radius: 5px 5px 0 0;}
.others{color:green}
#status{margin-left:65px; display:block; height:20px}

